<h1>Projects</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Total size</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr id="<%=dom_id(project)%>">
        <td id="<%=dom_id(project)%>_name"><%= project.name %></td>
        <td id="<%=dom_id(project)%>_total_size"><%= project.total_size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
